<!DOCTYPE html>
<html lang="en" style = "color-scheme:dark;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">

    <!-- Emoji CSS -->
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">

    <!-- Tailwind CSS  -->
    <script src="https://cdn.tailwindcss.com"></script>
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="styles.css">
    
    <!-- Bootstarp JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link rel=stylesheet href=https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css />
    
    <!-- Favicon -->
    <title>Crypto Market</title>
</head>
<body>
  <div class = "background" id="home">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fa-brands fa-bitcoin"></i> Crypto Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#home">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/prices">Prices</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact Us</a>
              </li>
              <li class = "nav-item">
                <a href="/logout" class = "nav-link">Logout <i class="fa-solid fa-right-from-bracket"></i></a>
              </li>
            </ul>
            <form class="d-flex" action="/graphBySearch" method = "get">
              <input class="form-control me-2" type="text" name = "coin" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
      <h1 class = "center-data">Thinking Of <span class = "yellow">Travelling</span> With <br/></h1>
      <div class = "container yellow main-heading">
      <div class = "word">BitCoin</div>
      <div class = "word">Ethereum</div>
      <div class="word">Solana</div>
    </div>
    <p class = "main-info">We provide the best infrastructure to analyze the crypto market where <br/>you can check real-time data of more than 50 coins.</p>
    <div class = "d-flex justify-content-center ">
    <a href = "/prices"><button class = "btn btn-light buttons"><i class="fa-solid fa-circle-dollar"></i> Prices</button></a>
    <a href = "/contact"><button class = "btn btn-dark buttons"><i class="fa-solid fa-circle-envelope"></i> Contact Us</button></a> 
     </div>
  </div>
  
  
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <h1 class="ml3">TOP COINS</h1>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="7000">
            <h2> <%=coins[0].name%> </h2>
            <img src="<%=coins[0].iconUrl%>" class="d-block w-100" alt="..."> <br/>
            <h2><i class="fa-solid fa-dollar-sign"></i> <%=coins[0].price%></h2>
            <% if(coins[0].change >= 0) { %> 
            <h2 style = "color: green;"><%=coins[0].change%>% <i class="fa-solid fa-arrow-trend-up"></i></h2>
            <% } else {%>
              <h2 style = "color: red;"><%=coins[0].change%>% <i class="fa-solid fa-arrow-trend-down"></i></h2>
              <%}%>         
      </div> 
      <div class="carousel-item" data-bs-interval="2000">
        <h2> <%=coins[1].name%> </h2>
        <img src="<%=coins[1].iconUrl%>" class="d-block w-100" alt="..."> <br/>
        <h2><i class="fa-solid fa-dollar-sign"></i> <%=coins[1].price%></h2>
        <% if(coins[1].change >= 0) { %> 
        <h2 style = "color: green;"><%=coins[1].change%>% <i class="fa-solid fa-arrow-trend-up"></i></h2>
        <% } else {%>
          <h2 style = "color: red;"><%=coins[1].change%>% <i class="fa-solid fa-arrow-trend-down"></i></h2>
          <%}%>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <h2> <%=coins[2].name%> </h2>
        <img src="<%=coins[2].iconUrl%>" class="d-block w-100" alt="..."> <br/>
        <h2><i class="fa-solid fa-dollar-sign"></i> <%=coins[2].price%></h2>
        <% if(coins[2].change >= 0) { %> 
        <h2 style = "color: green;"><%=coins[2].change%>% <i class="fa-solid fa-arrow-trend-up"></i></h2>
        <% } else {%>
          <h2 style = "color: red;"><%=coins[2].change%>% <i class="fa-solid fa-arrow-trend-down"></i></h2>
          <%}%>
      </div>
      <div class="carousel-item">
        <h2> <%=coins[3].name%> </h2>
        <img src="<%=coins[3].iconUrl%>" class="d-block w-100" alt="..."> <br/>
        <h2><i class="fa-solid fa-dollar-sign"></i> <%=coins[3].price%></h2>
        <% if(coins[3].change >= 0) { %> 
        <h2 style = "color: green;"><%=coins[3].change%>% <i class="fa-solid fa-arrow-trend-up"></i></h2>
        <% } else {%>
          <h2 style = "color: red;"><%=coins[3].change%>% <i class="fa-solid fa-arrow-trend-down"></i></h2>
          <%}%>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 
  <div id = "about-us">
      <h1 class = "about">About Us</h1>
      <h1 class = "developers">Aspiring Developers</h1>
      <p class = "information">We are a group of Developers that are learning constantly and applying their learning through creating Projects. If you like Our Project, you can show us some love by clicking the Contact us button and mailing us a message saying - "Liked the project <i class="em em-heart" aria-role="presentation" aria-label="HEAVY BLACK HEART"></i> ", and this will help us in building more awesome projects.</p>
    </div>
    <div id = "footer">
      <h1 class = "get-in-touch">Get In Touch</h1>
      <span class = "paper-plane"><a href="/contact"><i class="fa-solid fa-paper-plane fa-2x"></i></a></span>
      <span class = "instagram"><a href="http://www.instagram.com/vaibhavarora.19"><i class="fa-brands fa-instagram fa-2x"></i></a></span>
      <span class = "twitter"><a href="http://www.twitter.com/Vaibhavtwts"><i class="fa-brands fa-twitter fa-2x""></i></a></span>
    </div>
    </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
  <script src = "script.js"></script>
</body>
</html>